<?php
$leprosy_data_keys = array_keys(reset($table_data));
$data_range = range(min($leprosy_data_keys), max($leprosy_data_keys));
?>

<!DOCTYPE html>
<html lang="en">
<head class="bg-dark">
    <!--Metadata-->
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"/>
    <meta name="description" content="Leprosy_table webpage"/>
    <meta name="author" content="Jesse Hellendoorn"/>
    <meta name="keywords" content="HTML, CSS, JavaScript, PHP, Bootstrap, Leprosy">

    <!-- Icon-->
    <link rel="icon" type="image/x-icon" href="https://www.google.com/s2/favicons?domain=https://apps.who.int">

    <!-- Stylesheets-->
    <link href="https://cdn.datatables.net/1.11.3/css/dataTables.bootstrap5.min.css"
          rel="stylesheet"
          type="text/css">
    <link href="https://cdn.datatables.net/1.11.3/css/jquery.dataTables.css"
          rel="stylesheet"
          type="text/css">
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
          crossorigin="anonymous"
          rel="stylesheet"
          type="text/css">

    <!--JS libraries-->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
            integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
            crossorigin="anonymous"></script>
    <script src="https://cdn.datatables.net/1.11.3/js/jquery.dataTables.js" type="text/javascript"
            charset="utf8"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
            integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
            crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
            integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
            crossorigin="anonymous"></script>
    <title>WHO leprosy Data per country</title>
</head>
<body>
<div class="navbar navbar-expand-lg navbar-dark bg-dark text-white">
    <h2>Leprosy data by country</h2>
</div>
<div class="bg-white">
    <div class="dropdown">
        <button class="btn btn-secondary dropdown-toggle mr-4" type="button" id="export_dropdown" data-toggle="dropdown"
                aria-expanded="false" style="float: right;">
            Export
            <a href="https://gitlab.com/jsmaxim" class="mx-1">
                <i><img src="https://icons-for-free.com/iconfiles/png/512/download+file+page+paper+icon-1320165844661536600.png"
                        class="img-fluid" alt="export_file"></i>
            </a>
        </button>
        <div class="dropdown-menu" aria-labelledby="export_dropdown">
            <a class="dropdown-item" target="_blank"
               href="https://apps.who.int/gho/athena/data/GHO/WHS3_45?filter=COUNTRY:*&x-sideaxis=COUNTRY&x-topaxis=GHO;YEAR&profile=crosstable&format=csv">
                CSV
            </a>
            <a class="dropdown-item" target="_blank"
               href="https://apps.who.int/gho/athena/data/data.xls?target=GHO/WHS3_45&format=xml&profile=excel&filter=COUNTRY:*&x-sideaxis=COUNTRY&x-topaxis=GHO;YEAR">
                Excel
            </a>
            <a class="dropdown-item" target="_blank"
               href="https://apps.who.int/gho/athena/data/GHO/WHS3_45.json?filter=COUNTRY:*">
                JSON
            </a>
        </div>
    </div>
    <div class="container-md m-4">
        <h3>Leprosy cases table (2005 - 2020)</h3>
        <div class="alert alert-success alert-dismissible d-none" id="export_alert" role="alert">
            <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
            Successfully exported the table data!
        </div>
        <div class="my-4">
            <table id="leprosy_data_table"
                   class="table table-striped table-bordered table-hover table-sm table-responsive">
                <thead>
                <tr>
                    <th class="text-center" colspan="<?php echo count($data_range) + 2; ?>">
                        Number of new leprosy cases
                    </th>
                </tr>
                <tr>
                    <?php
                    $headers = array_merge(['Country'], $data_range, ['Total']);
                    foreach ($headers as $header) {
                        echo "<th> ${header} </th>";
                    }
                    ?>
                </tr>
                </thead>
                <tbody>
                <?php
                foreach ($table_data as $key => $value) {
                    echo "<tr>";

                    echo "<td> ${key} </td>";

                    foreach ($data_range as $header) {
                        $cell_value = ($value[$header]) ?? null;
                        echo "<td> ${cell_value} </td>";
                    }

                    $total = $this->formatValues(array_sum($value));

                    echo "<td><strong> ${total} </strong></td>";

                    echo "</tr>";
                }
                ?>
                </tbody>
                <caption>World Health Organization (2021)
                    <a href="https://apps.who.int/gho/data/view.main.95300" target="_blank">
                        <small>Lean more</small>
                    </a>
                </caption>
            </table>
        </div>
    </div>
</div>
</body>
<footer class="text-center bg-dark text-white">
    Jesse Hellendoorn (2021)
    <a href="https://gitlab.com/jsmaxim" class="mx-1" target="_blank">
        <i>
            <img src="https://www.google.com/s2/favicons?sz=64&domain_url=gitlab.com"
                 class="img-fluid"
                 alt="Gitlab">
        </i>
    </a>
    <a href="https://jesse-maxim-h.carrd.co/" class="mx-1" target="_blank">
        <i>
            <img src="https://carrd.co/assets/images/docs/brand/svg/symbol-dark.svg"
                 class="img-fluid"
                 alt="carrd.co">
        </i>
    </a>
</footer>
</html>

<script type="text/javascript">
    $(document).ready(function () {
        $('#leprosy_data_table').DataTable({
            dom: "<'row'<'col d-flex'<'mr-2'f>l><'col'p>>rt<'row'<'col'i><'col'p>>",
            order: [[0, 'asc']],
            pageLength: 25
        });

        $('.dropdown-menu').click(function () {
            $('#export_alert').removeClass('d-none');
        });
    });
</script>

<style>
    img {
        max-width: 2.5%
    }

    @media (min-width: 0px) {
        img {
            display: none;
        }
    }

    @media (min-width: 500px) {
        img {
            display: inline;
            width: 25px;
        }
    }
</style>
